:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', sans-serif;
    background-color: var(--background-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR Section*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 50px;
    height: 80px;
    background-color: #D71AE6;
}

nav .left a {
    font-family:'Press Start 2P', serif;
    color: var(--background-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    font-family: sans-serif;
    color: var(--background-color);
    font-size: 18px;
    margin: 0 10px;
}

nav .right a:last-child {
    color: #D71AE6;
    background-color: var(--background-color);
    padding: 8px 15px;
    border-radius: 5px;
}








