/*This section is to use to store my global color variables. */
:root {
    --text-color: #1a1c20;
    --link-color: #D71AE6;
    --background-color: #eeeff1;
}

/*A universal selector that targets every element. I'm also setting 
the default margins and padding to zero and box-sizing: border-box 
makes sure the padding and border is included in the elements width. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*This property is used so that my anchor links glide smoother. */
html{
    scroll-behavior: smooth;
}

/*Designing how the default font and background color should look. */
body {
    font-family: 'Times New Roman', serif;
    background-color: var(--background-color);
}

/*A global style for the color of my links and removing the underline. */
a {
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR Section*/
/*Positioning the top of my webpage and designing the size and color. */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 80px;
    background-color: var(--link-color);
}

nav .left {
    display: flex;
    align-items: center;
    gap: 12px;
}

nav .left a {
    font-family:'Press Start 2P', serif;
    color: var(--background-color);
    font-size: 22px;
    font-weight: 600;
}

nav .left i {
    color: var(--background-color);
    font-size: 28px;
}

nav .right {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .right a {
    font-family: sans-serif;
    color: var(--background-color);
    font-size: 18px;
    padding: 4px 8px;
}

nav .right a:last-child {
    color: var(--link-color);
    background-color: var(--background-color);
    padding: 8px 15px;
    border-radius: 5px;
}

/* Section 1: About Me */
/*Positioning section 1 and adding a picture of me and my boyfriend
to the right side of my text. */
.about-me-section {
    display: flex;
    align-items: flex-start; 
    gap: 40px;
    padding: 0px 50px;
    margin: 50px;
}

.about-me-section .text {
    flex: 1;
}

.about-me-section .text h2 {
    font-size: 36px;
}

.about-me-section .text p {
    margin-top: 20px;
}

.about-me-section .text .links {
    margin-top: 25px;
}

/*Added styling so that when the links are hovered over
they change colors. */
.about-me-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 10px;
    transition: 1s;
}

.about-me-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

/*Since the photo has two people in it, I add a hovering style
that lets the user know I'm on the right side. */
.about-me-section .picture-of-me img {
    width: 220px;
    height: 250px;
    border-radius: 10px;
    display: block;
}

/* Section 2: Skills */
/*Another section, with more stylying. */
.skills-section {
    position: relative;
    padding: 0 50px;
    margin: 30px 50px;
}

.skills-section h2 {
    font-size: 36px;
}

.skills-section .text {
    margin-top: 10px;
}

.skills-section ul {
    margin-top: 5px;
    margin-left: 20px;
}

/* Section 3: Current Projects */
/*The last section of my portfolio, which mirrors the same layout as
section 1, except the GitHub image is in between section 2 and 3. */
.current-projects-section {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 0px 50px;
    margin: 50px;
}

.current-projects-section .text {
    flex: 1;
}

.current-projects-section .text h2 {
    font-size: 36px;
}

.current-projects-section .picture-of-github img {
    width: 200px;
    height: 170px;
    display: block;
}

.current-projects-section .picture-of-github {
    margin-top: -100px;
}

/* Footer */
/*Add a final goodbye and gratitude section. Staying consistent with
the style used throughout my portfolio. */
footer {
    text-align: center;
    padding: 30px 50px;
    margin-top: 50px;
    background-color: var(--link-color);
    color: var(--background-color);
    font-family: 'Press Start 2P', serif;
    font-size: 12px;
    line-height: 2;
}

/*Phase Two Reflection: .  */